/* MOBILE VIEW */
body {
  font-family: 'Poppins', 'Arial';
  background-color: #f9f9f9; 
  color: #333; 
  line-height: 1.6; 
}

.skip{
  position: absolute;
  left:-1000px;
}

.skip:focus{
  left: 110px
}

header {
  background: lightpink; 
  color: white;
  padding: 20px 0;
  font-weight: bold;
  text-align: center;
  border-bottom: 2px solid #fff; 
}



nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  background: white;
  padding: 20px 0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav a {
  text-decoration: none;
  color: #333;
  margin: 0 20px;
}

.active {
  font-weight: bolder;
  text-decoration: underline; 
}

main {
  max-width: 1200px;
  margin: 20px;
  font-size: 20px;
  padding: 20px;
  background: #fff; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: black; 
}

main h2 {
  font-size: 30px;
  font-style: italic;
  text-align: center;
  margin-top: 20px;
  color: black; 
}

main h3 {
  font-size: 22px;
  text-align: center;
  text-decoration-line: underline;
  margin-top: 20px;
  color: pink; 
}

#main h3 {
  color: #333; 
  margin-top: 50px;
  margin-bottom: 20px
}

main p {
  color: black; 
  font-size: 13px;
  font-weight: 100;
  padding: 15px;
  text-align: left;
  margin-top: 10px;
  /* justify-content: right; */
} 

#main ul {
  margin-bottom: 30px;
}

#main li {
  list-style-type: disc;
  font-size: 15px;
  margin-left: 20px;
  margin-top:10px;
  color: black; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 20px; 
}

.grid-item {
  width: 100%; 
} 

main img,
video {
  display: grid; 
  margin: 0 auto; 
  max-width: 100%; 
  height: auto;
  border-radius: 10px;
  border: 5px;
  border: 7px solid pink;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

@media (prefers-reduced-motion: reduce) {
  video {
      display: none;
  }
  source {
      display: none;
  }  
}

/* TABLET VIEW */
@media only screen and (min-width: 600px){
  .content {
    display: flex;
    justify-content: center;
  }
  
  
  .pet-section {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .pet-section .left {
    flex: 1;
    margin-right: 20px; 
  }
  
  
  .pet-section .right {
    flex: 2;
  }
  
  .video-container {
    width: 100%;
  }
  
  
  .left {
    flex: 1;
  }
  
  .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  
  main img, video{
    display: grid; 
    max-width: 100%; 
    height: auto;
    border-radius: 10px;
  
    border: 7px solid pink;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  
  .content {
    display: flex;
    justify-content: center;
  }
  
  .section {
    display: flex;
    margin-bottom: 40px;
  }
  
  .section .left {
    flex: 1;
    margin-right: 20px; 
    height: auto;
  }
  
  .section .right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
  main img,
  video {
    display: grid;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    border: 7px solid pink;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: pulse 2s infinite alternate; 
  }

  @keyframes pulse {
    0% {
      border-color: pink; 
    }
    100% {
      border-color: deeppink;
    }
  }
  @media (prefers-reduced-motion: reduce) {
    video {
        display: none;
    }
    source {
        display: none;
    }  
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  body {
    font-family: 'Poppins', 'Arial';
    background-color: #f9f9f9; 
    line-height: 1.6; 
  }

  .skip {
    position: absolute;
    left: -1000px;
  }

  .skip:focus {
    left: 110px;
  }

  header {
    background: lightpink; 
    color: white;
    padding: 20px 0;
    font-weight: bold;
    text-align: center;
    border-bottom: px solid #fff; 
  }

  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    background: white;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  nav a {
    text-decoration: none;
    color: #333;
    margin: 0 20px;
  }

  .active {
    font-weight: bolder;
    text-decoration: underline; 
  }

  main {
    max-width: 1200px;
    margin: 20px auto;
    font-size: 20px;
    padding: 20px;
    background: #fff; 
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  main h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: black; 
  }


  main h2 {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
    color: black; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }

  main h3 {
    font-size: 22px;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 20px;
    color: pink; 
  }

  #main h3 {
    color: #333; 
    margin-top: 50px;
    margin-bottom: 20px;
  }

  main p {
    color: black; 
    font-size: 13px;
    font-weight: 100;
    padding: 15px;
    text-align: left;
    margin-top: 10px;
  } 

  #main ul {
    margin-bottom: 30px;
  }

  #main li {
    list-style-type: disc;
    font-size: 15px;
    margin-left: 20px;
    margin-top:10px;
    color: black; 
  }

  .grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .grid-item {
    width: 48%; 
    margin-bottom: 20px; 
  }

  .photo-grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 5px;

}

.photo-grid-container .grid-item {
    text-align: center;
}

.photo-grid-container .grid-item img,
.photo-grid-container .grid-item video {
    width: 100%;
    height: auto;
}

#main h3 {
  text-align: left;
}

img,
video {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
}

/* hover effect on all images and videos */
img:hover,
video:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

/* h1 text gradient */
.linear-text-gradient {
  background: linear-gradient(to top, deeppink, pink);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

  @keyframes pulse {
    0% {
      border-color: pink; 
    }
    100% {
      border-color: deeppink;
    }
  }


  #signup-form {
    max-width: 400px;
    margin: 0 auto;
}


#signup-form label {
    display: block;
    margin-bottom: 10px;
}


#signup-form input[type="text"],
#signup-form input[type="email"],
#signup-form input[type="password"],
#signup-form input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* styling the form submit button - in desktop */
#signup-form input[type="submit"] {
    background-color: pink;
    color: black;
    cursor: pointer;
}

  @media (prefers-reduced-motion: reduce) {
    video {
        display: none;
    }
    source {
        display: none;
    }  
  }


}
